.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.cart {
  width: 500px;
  max-width: 100%;
  height: 100%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-size: 24px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
}

.emptyCart {
  text-align: center;
  margin-top: 20px;
}

.itemList {
  flex: 1;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.itemImage {
  margin-right: 15px;
  object-fit: cover;
}

.itemDetails {
  flex: 1;
}

.itemName {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.itemPrice {
  margin: 0;
  font-size: 14px;
  color: #666;
}
.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff0000;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
